*{
  margin: 0;
  padding: 0;
}
#hangman, #guessbox{
  height: 300px;
  width: 200px;
  display: inline-block;
  border: 1px solid black;
}
.letter li{
  display: inline-block;
  height:40px;
  width: 40px;
}
.letterPic{
  width: 40px;
  height: 40px;
}
